{% extends 'base/base.html' %}
{% block content %}

<p style="font-family: 'Palatino'; font-size:14px">
<font color = 'white'>

{% if not user.is_authenticated %}
    <font color = 'red'>
    You have been not been authenticated.<br>
{% endif %}

{% if user.is_authenticated %}
    <div class='row'>
        <div class='col-12 col-md-6'>
            <h1>{{object.title}}</h1><br/>
            <h2>Updated {{ object.timestamp |timesince}} ago.</h2><br/>
            {{object.description|linebreaks}}<br/>
            {% if object.image %}
                {{ object.image.url}}<br/>
                <img src='{{ object.image.url }}' class='img-fluid' />
            {% endif %}
        </div>
        <hr/>
        <div class='col-12 col-md-6'>
            {% include 'subscription/snippets/update-cart.html' with subscription=object cart=cart %}

        </div>
    </div>
    <hr/>

{% endif %}

{% endblock %}