{% extends 'base.html' %}
{% block content %}

<p style="font-family: 'Palatino'; font-size:14px">
<font color = 'white'>


<div class='col'>
    <div class='row'>
        <div class='col-12 mr-auto'>
            <h4>{{object.title}}</h4><br/>
            <!-- <h2>Updated {{ object.timestamp |timesince}} ago.</h2><br/> -->
            {{object.description|linebreaks}}<br/>
            {% if object.image %}
                <!-- {{ object.image.url}}<br/> -->
                <img src='{{ object.image.url }}' class='img-fluid' />
            {% endif %}
        </div>
        <div class='ml-auto fixed-bottom' style='min-height:50px;background-color:rgba(0, 115, 100, 0.8);'>
            <div class='col-12 mx-1 my-1'>
                <font color = 'white'>
                {% include 'subscription/snippets/update-cart.html' with subscription=object cart=cart %}
            </div>
        </div>
    </div>
</div>


{% endblock %}