{% extends 'base/base.html' %}
{% block content %}

<p style="font-family: 'Palatino'; font-size:14px">
<font color = 'white'>
SUBSCRIPTIONS CHECKOUT

{{ object.order_id }} -- {{ object.cart }}

{% if not billing_profile %}
NEW BILLING PROFILE
<div class="container">
    <div class='row'>
        <div class='col'>
            <p class='lead'>Login</p>
            {% include 'accounts/snippets/form.html' with form=login_form next_url=request.build_absolute_uri %}
        </div>
        <div class='col'> 
            Continue as Guest
    
            {% url "guest_register" as guest_register_url %}
            {% include 'accounts/snippets/form.html' with form=guest_form next_url=request.build_absolute_uri action_url=guest_register_url %}
        </div>
    
        </div>
</div>
{% else %}
EXISTING BILLING PROFILE
    <h1>Checkout</h1>

    <p>Subtotal: {{ object.cart.subtotal }}</p>
    <p>Total: {{ object.total }}</p>
{% endif %}
{% endblock %}