{% extends 'base/base.html' %}
{% block content %}

<p style="font-family: 'Palatino'; font-size:14px">
<font color = 'white'>


{% if cart.subscriptions.exists %}
    <table class="table cart-table table-dark" >
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Subscription</th>
                <th scope="col">Price/month</th>
            </tr>
        </thead>
        <tbody class='cart-body'>

        {% for subscription in cart.subscriptions.all %}
        
            <tr class='cart-subscription'>
                <th scope="row">{{ forloop.counter }}</th>
                <td><a href='{{ subscription.get_absolute_url }}'>{{ subscription.title }}</a>
                    {% include 'carts/snippets/remove-subscription.html' with subscription_id=subscription.id %}
                </td>
                <td>{{ subscription.price }}</td>
            </tr>
        {% endfor %}

        <tr>
            <th colspan="2"></th>
            <td><b>Subtotal</b> $<span class='cart-subtotal'>{{ cart.subtotal }}</span></td>
        </tr>
        <tr>
            <th colspan="2"></th>
            <td><b>Total</b> $<span class='cart-total'>{{ cart.total }}</span></td>
        </tr>

        <tr>
            <th colspan="2"></th>
            <td><a class='btn btn-block btn-success' href='{% url "cart:checkout" %}'>Checkout</a></td>
        </tr>
        
        </tbody>
    </table>

<div class='cart-item-remove-form' style='display:none'>
    {% include 'carts/snippets/remove-subscription.html' %}

</div>
{% else %}
    <p class='lead'> Cart is empty </p>
{% endif %}

{% endblock %}