{% url 'home' as home_url %}
{% url 'blog:list' as blog_url %}
{% url 'subscription:list' as subscription_url %}
{% url 'carts:home' as cart_url %}
{% url 'account:home' as accounts_url %}
{% url 'contact' as contact_url %}
{% url 'logout' as logout_url %}
{% url 'register' as register_url %}
{% url 'auth_login' as auth_login_url %}

<nav class="navbar sticky-top navbar-expand-md navbar-dark bg-dark mb-3">
  <div class='container'>
    <!-- <a class="navbar-brand" href="{{ home_url }}">Stringkeeper | {{ request.user|truncatechars_html:14 }}</a> -->
    <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">Navigation</button> -->




    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav mr-auto">
        <!-- <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li> -->

        <!-- <form class="form-inline" action='/search/'>
          <input class="form-control" type="search" placeholder="Search" name='q' aria-label="Search"> -->
          <!-- <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button> -->
        <!-- </form> -->



        <li class="nav-item {% if request.path == home_url  %}active{% endif %}">
            <a class="nav-link" href="{{ home_url }}">Stringkeeper</a>
          </li>
        <!-- <li class="nav-item {% if request.path == blog_url  %}active{% endif %}">
          <a class="nav-link" href="{{ blog_url }}">Blog</a>
        </li> -->
        <li class="nav-item {% if request.path == subscription_url  %}active{% endif %}">
          <a class="nav-link" href="{{ subscription_url }}">Subscriptions</a>
        </li>

        <li class="nav-item {% if request.path == contact_url  %}active{% endif %}">
            <a class="nav-link" href="{{ contact_url }}">Contact</a>
        </li>
        <!-- <li class="nav-item">
            <a class='nav-link' href="/admin">Admin</a>
        </li> -->

        {% if user.is_authenticated %}

        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle mx-2" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Account
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item {% if request.path == accounts_url  %}active{% endif %}" href="{{ accounts_url }}">Manage</a>
            <!-- <a class="dropdown-item" href="#">Another action</a> -->
            <a class='dropdown-item' href="{{ logout_url }}">Logout</a>
          </div>
        </div>


        {% endif %}

        {% if not user.is_authenticated %}

        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle mx-2" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Account
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <!-- <a class="dropdown-item {% if request.path == accounts_url  %}active{% endif %}" href="{{ accounts_url }}">Home</a> -->
            <a class="dropdown-item {% if request.path == auth_login_url  %}active{% endif %}" href="{{ auth_login_url }}">Login</a>
            <a class="dropdown-item {% if request.path == register_url  %}active{% endif %}" href="{{ register_url }}">Register</a>
            <!-- <a class='dropdown-item' href="{{ logout_url }}">Logout</a> -->
          </div>
        </div>

        {% endif %}
        <!-- <div class='container'> -->
          <!-- <div class='col-2'> -->
        <li class="nav-item {% if request.path == cart_url  %}active{% endif %}">
            <a class="nav-link" href="{{ cart_url }}"> <span class='navbar-cart-count'>
               <!-- {{ request.session.cart_items }} -->
               </span> <i class="fas fa-shopping-cart"> </i> </a>
        </li>
        <!-- </div> -->
        <!-- </div> -->
        
        <li class="nav-item">
            <!-- <a class='nav-link' href="{% url 'logout' %}">Logout</a> -->
            <hr/>
        </li>

      </ul>

      
    </div>
    <div class='col-sm-12 col-md-6 col-lg-6'>
    <div class="input-group">
      <div class='container'>
          <!-- <div class='row'> -->
            <!-- <div class='col'> -->
              <div class="input-group-prepend ">

              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>

              <!-- <form class="form-inline" action='/search/'>
                <div class='container'>
                  <input class="form-control" type="search" placeholder="Search" name='q' aria-label="Search" aria-describedby="basic-addon1">
                </div>
              </form> -->
              {% include 'search/snippets/search-form.html' %}
              <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span> -->
              <!-- </button> -->
            <!-- </div> -->
          <!-- </div> -->
        </div>
      </div>
    </div>
  </div>


  </div>
</nav>


