{% extends "base.html" %}

{% block content %}
<div class='row'>
<div class='col-12'>
</div>
<div class='col-12 col-md-6 my-3'>
    <div class="card bg-dark text-white">
      <div class="card-body ">
        <h4 class="card-title">Support</h4>
            <div class='list-group'>
                <a class='list-group-item bg-info text-white' href='{% url "about" %}'>About</a>
                <a class='list-group-item bg-info text-white' href='{% url "contact" %}'>Contact</a>
            </div>
      </div>
    </div>
</div>



<div class='col-12 col-md-6 my-3' id='billing'>
    <div class="card bg-dark text-white">
      <div class="card-body">
        <h4 class="card-title">Billing</h4>
            <div class='list-group'>
                <a class='list-group-item bg-info text-white' href='{% url "orders:list" %}'>Orders</a>
                <a class='list-group-item bg-info text-white' href='{% url "billing-payment-method" %}'>Payment Methods</a>
                <a class='list-group-item bg-info text-white' href='#'>Addresses</a>                
                
            </div>
      </div>
    </div>
</div>


<div class='col-12 col-md-6 my-3'>
    <div class="card bg-dark text-white">
      <div class="card-body">
        <h4 class="card-title">Account Details</h4> 
            <div class='list-group'>
              <a class='list-group-item bg-info text-white' href='{% url "account:user-update" %}'>Update Details</a>
              <a class='list-group-item bg-info text-white' href='{% url "password_change" %}'>Change Password</a>
              <a class='list-group-item bg-info text-white' href='#'>Library</a>
                
            </div>

      </div>
    </div>
</div>


<div class='col-12 col-md-6 my-3'>
    <div class="card bg-dark text-white">
      <div class="card-body">
        <h4 class="card-title">Preferences</h4> 
            <div class='list-group'>
                <a class='list-group-item bg-info text-white' href='{% url "marketing-pref" %}'>Email Marketing</a>
            </div>

      </div>
    </div>
</div>


<div class='col-12 col-md-6 my-3'>
    <div class="card bg-dark text-white">
      <div class="card-body">
        <h4 class="card-title">History</h4> 
              <div class='list-group'>
                <a class='list-group-item bg-info text-white' href='{% url "account:user-subscription-history" %}'>Subscription History</a>
            </div>
      </div>
    </div>
</div>


</div>


{% endblock %}