{% extends 'base/base.html' %}

{% block title %} {{ title }} {% endblock %}

{% block content %}

<p style="font-family: 'Palatino'; font-size:14px">
<font color = 'white'>

<h3>{{ content }}</h3><br>

{% if activated is True %}

<form method='POST'> {% csrf_token %}
    <div class="card mb-3" style="max-width: 32rem; background-color: rgb(61, 70, 78);">
    {{ form }}

    </div>
    <div class="card mb-3" style="max-width: 32rem;">
            <button type='submit' class='btn btn-secondary'>Send</button>
    </div>
</form>

{% endif %}

{% endblock %}