{% extends "base.html" %}
{% block content %}
<div class='row'>
    <div class='col-12 mb-3'>
        <div class='col-12 mx-auto py-4'>
            {% include 'search/snippets/search-form.html' %}
        </div>
    <hr/>
        {% if query %}
            <p style="font-family: 'Palatino'; font-size:14px">
            <font color = 'white'>
            <div class='container'>
                <div class='row'>
                    <div class='col-12 mb-3'>
                        <div class='col-12 col-md-8 mx-auto py-1'>
                            <h4>Results for '{{ query }}': </h4>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
                <div class='col-12'><hr/></div>
                <div class='row'>
            {% for obj in object_list %}
                {% include 'subscription/snippets/card.html' with instance=obj %}
                {% if forloop.counter|divisibleby:3 %}
                <div class='col-12'><hr/></div>
                {% elif forloop.counter|divisibleby:2 %}
                </div> <div class='row'><div class='col-12'><hr/></div>
                {% else %}
                </div> <div class='row'><div class='col-12'><hr/></div>
                {% endif %}
            {% endfor  %}
            </div>
    </div>
</div>
{% endblock %}