{% extends "base.html" %}

{% block head_title %} Stringkeeper-Blog-Detail {% endblock %}

{% block content %}

<p style="font face=Palatino; font-size:16px">
<font color = 'white'>

{% if not user.is_authenticated %}
    <font color = 'red'>
    You have been not been authenticated.<br>
{% endif %}

{% if user.is_authenticated %}
    <font color = 'grey'>
    ==============<br>
    <font color = 'white'>
    {{ object.title }}<br>
    <font color = 'grey'>
    ----<br>
    <font color = 'white'>
    {{ object.content }}<br>
    <font color = 'grey'>
    ==============<br>
    <font color = 'orange'>
    <a href='{{ object.get_return_url }}'>Return</a><br>
{% endif %}

{% if user.is_authenticated %}
    {% if request.user.is_staff %}
        <font color = 'grey'>
        ---------<br>
        <font color = 'green'>
        <a href='{{ object.get_edit_url }}'>Edit</a><br>
        <font color = 'grey'>
        ---------<br>
        <font color = 'red'>
        <a href='{{ object.get_delete_url }}'>Delete</a><br>
    {% endif %}
{% endif %}
{% endblock %}