{% extends "base.html" %}

{% block head_title %} Stringkeeper-Blog-Detail {% endblock %}

{% block content %}

<p style="font-family: 'Palatino'; font-size:14px">
<font color = 'white'>

{% if not user.is_authenticated %}
    <font color = 'red'>
    You have been not been authenticated.<br>
{% endif %}

{% if user.is_authenticated %}
    {% include 'blog/list-inline.html' with blog_post=object truncate=False detail=True %}
    <div class='col-12'>
        <font color = 'orange'>
        <a href='{{ object.get_return_url }}'>Return</a><br>
    </div>
{% endif %}

{% if user.is_authenticated %}
    {% if request.user.is_staff %}
        <div class='col-12'>
            <font color = 'grey'>
            ---------<br>
            <font color = 'green'>
            <a href='{{ object.get_edit_url }}'>Edit</a><br>
            <font color = 'grey'>
            ---------<br>
            <font color = 'red'>
            <a href='{{ object.get_delete_url }}'>Delete</a><br>
        </div>
    {% endif %}
{% endif %}
{% endblock %}