{% extends "base.html" %}

{% block head_title %} Stringkeeper-Blog-List {% endblock %}

{% block content %}

<p style="font face=Palatino; font-size:16px">
<font color = 'white'>

{% if not user.is_authenticated %}
    <font color = 'red'>
    You have been not been authenticated.<br>
{% endif %}

{% if user.is_authenticated %}
    {% for object in object_list %}
        <li><a href='/blog/{{ object.slug }}'>{{ object.title }}</a></li>
        <p>{{ object.content }}</p>
    {% endfor %}
{% endif %}

{% endblock %}