<div class="card mx-3 my-3 bg-secondary text-white" style="width: 28rem;">
  {% if instance.image %}
    {% load static %}
    <!-- <img src={{instance.image.url}}> -->
     
    <!-- <!-- instance get absolute url {{ instance.get_absolute_url }} <br> -->
    <hr>
    instance  image url is 
    <hr>
    {{ instance.image.url }}
    <hr>
    <a href="{{ instance.get_absolute_url }}" > <img class="card-img-top" src="{{ instance.image.url }}" alt="{{ instance.title }}"></a>
  {% endif %}
    <div class="card-body">
      <h4 class="card-title">{{ instance.title }}</h4>
      <p class="card-text">{{ instance.description|truncatewords:60 }}</p>
      <a href="{{ instance.get_absolute_url }}" class="btn btn-info">Subscription details</a>
      <hr>
      {% include 'subscription/snippets/update-cart.html' with subscription=instance cart=cart %}
      <hr>
      <!-- <a href="{% url 'subscription:detail' slug=instance.slug %}" class="btn btn-warning">URL SHORTCUT</a> -->
    </div>
  </div>