<form class='form-subscription-ajax' method='POST' action='{% url "cart:update" %}' data-endpoint='{% url "cart:update" %}' class="form" {% if request.user.is_authenticated %}data-user='abc'{% endif %}> {% csrf_token %}
    <input type='hidden' name='subscription_id' value='{{ subscription.id }}' {% if  subscription.is_digital %}data-is-digital='true'{% endif%}/>
      <span class='submit-span'>
    {% if subscription in cart.subscriptions.all %}
        <div class='btn-group'> <a class='btn btn-block btn-info' href='/cart/'>In Cart</a>
             <!-- <button type='submit' class='btn btn-warning'>Remove?</button> -->
            </div>
    {% else %}
        <button type='submit'  class='btn btn-success'>Subscribe</button>
    {% endif %}
    </span>
</form>