{% load static %}

<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">

    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{% static 'images/subscriptions/web_harvest/0.jpg' %}" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
        </div>
      </div>

      <div class="carousel-item">
        <img src="{% static 'images/subscriptions/web_harvest/1.jpg' %}" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">

        </div>
      </div>
      <div class="carousel-item">
        <img src="{% static 'images/subscriptions/web_harvest/2.jpg' %}" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>


<div class="jumbotron bg-dark">
    <h2 class="display-4 text-center"><font color = 'white'>Web Harvest</font></h2>

    <blockquote class="blockquote text-center">
        <p class="mb-0"><font color = 'orange'><h4> Search engines can't store web content; they simply link you to a web page. </h4></font><font color = 'SpringGreen'> <h3> <font color = 'white'>Web Harvest</font> visits the pages for you and extracts the data you need. </h3></font></p>

      </blockquote>


      <h3 class="text-left">


        <hr/>
        Fill out a few forms to describe what phrases, keywords and categories of data you seek and let the service build your database for you.
        <hr/>
        <a class="btn btn-info btn-block text-center" href="#" role="button"><h1>Try the demo!</h1></a>
        <hr/>
      </h3>
        <h3 class='text-center'><font color = 'SpringGreen'>Mine data from thousands of pages each day!</font></h3>
        
    </h3>


    <table class="table table-hover table-dark">
        <thead>
          <tr>
            <th scope="col"><h4>Recognizable Categories</h4></th>
            <th scope="col"><h4>Description</h4></th>
    
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>EMAIL</td>
            <td>An email address</td>
          </tr>
          <tr>
            <td>PHONE</td>
            <td>A telephone number</td>
          </tr>
          <tr>
            <td>TITLE</td>
            <td>The title of a persons position</td>
          </tr>
          <tr>
            <td>CONTACT</td>
            <td>A description of a person, including their contact info and description.</td>
          </tr>
          <tr>
            <td>PERSON</td>
            <td>People, including fictional.</td>
          </tr>
          <tr>
            <td>NORP</td>
            <td>Nationalities or religious or political groups.</td>
          </tr>
          <tr>
            <td>FAC</td>
            <td>Buildings, airports, highways, bridges, etc.</td>
          </tr>
          <tr>
            <td>ORG</td>
            <td>Companies, agencies, institutions, etc.</td>
          </tr>
          <tr>
            <td>GPE</td>
            <td>Countries, cities, states.</td>
          </tr>
          <tr>
            <td>LOC</td>
            <td>Non-GPE locations, mountain ranges, bodies of water.</td>
          </tr>
          <tr>
            <td>PRODUCT</td>
            <td>Objects, vehicles, foods, etc. (Not services.)</td>
          </tr>
          <tr>
            <td>EVENT</td>
            <td>Named hurricanes, battles, wars, sports events, etc.</td>
          </tr>
          <tr>
            <td>WORK_OF_ART</td>
            <td>Titles of books, songs, etc.</td>
          </tr>
          <tr>
            <td>LAW</td>
            <td>Named documents made into laws.</td>
          </tr>
          <tr>
            <td>LANGUAGE</td>
            <td>Any named language.</td>
          </tr>
          <tr>
            <td>DATE</td>
            <td>Absolute or relative dates or periods.</td>
          </tr>
          <tr>
            <td>TIME</td>
            <td>Times smaller than a day.</td>
          </tr>
          <tr>
            <td>PERCENT</td>
            <td>Percentage, including ”%“.</td>
          </tr>
          <tr>
            <td>MONEY</td>
            <td>Monetary values, including unit.</td>
          </tr>
          <tr>
            <td>QUANTITY</td>
            <td>Measurements, as of weight or distance.</td>
          </tr>
          <tr>
            <td>ORDINAL</td>
            <td>“first”, “second”, etc.</td>
          </tr>
          <tr>
            <td>CARDINAL</td>
            <td>Numerals that do not fall under another type.</td>
          </tr>
      </table>
    </div>
    
  </div>
  
<hr/>