{% extends 'base/base.html' %}

{% block title %} {{ title }} {% endblock %}


{% block content %}

<div class='text-center'>

    <font color = '#FFFFFF'>

    </font>
    </div>
    <div class='container'>
    <div class='row'>
    <div class='col'>

        <div class='col-md-12 col-12 mx-auto'>
            <font color = '#FFFFFF'>
            <!-- <h3>{{ title }}</h3>
            <h4>{{ content }}</h4> -->
            </font>
            <form class='contact-form' method='POST' action='{% url "contact" %}'> {% csrf_token %}
                <font color = 'white'>
                {{ form.as_p }}
            </font>
            <button type='submit' class='btn btn-light'>Send</button>
            <hr>
            </form>
        </div>
    </div>
</div>
</div>




<!-- 

<h3>{{ content }}</h3><br>

<form method='POST'> {% csrf_token %}
    <div class="card border-secondary mb-1" style="max-width: 32rem;">
    {{ form }}
    </div>
    <div class="card border-info mb-3" style="max-width: 32rem;">
            <button type='submit' class='btn btn-default'>Send</button>
    </div>
</form> -->


{% endblock %}