{% load static %}

<!doctype html>
<html lang="en">

  <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      {% include 'base/css.html' %}
      <title>{% block title %} Hello {% endblock %}</title>
  </head>

  {% include 'base/navbar.html' %}
  <body style="background-color:rgb(61, 70, 78);">
    
    <div class='container'>
      {% if messages %}
      <div class="alert alert-success messages">
          {% for message in messages %}
          <li{% if message.tags %} class="{{ messages.tags }}"{% endif %}>
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
            {{ message }}
          </li>
        {% endfor %}
        </ul>
        {% endif %}


            {% block content %}
            {% endblock %}


            {% include 'base/js.html' %}
            {% block javascript %}
            
            {% endblock %}
            <footer class="container">
                <font color = '#FFFFFF'>
                <!-- <h4> THIS SITE IS UNDER CONSTRUCTION. </h4> -->
                {% if ascii_art %}
                <pre>
                  <p style="font-size:2px">
                  <font color = '#85C1E9'> {{ascii_art}}
                </pre>
                {% endif %}
                <hr/>
                <h6><font color = 'white'>This site is under active development and is for <font color = 'orange'> demonstration purposes only.</font></h6>
                <script type="text/javascript">
                  var d = new Date()
                  document.write("<font color = 'grey'><p style='font-size:80%;'>Stringkeeper &copy; " + d.getFullYear() + "</p></font>")
                </script>
                <hr/>
              </footer>
        <!-- </div> -->
      <!-- </div> -->
    </div>

  </body>
</html>
