{% load static %}

<!doctype html>
<html lang="en">

  <head>
      <meta name="google-site-verification" content="TAWa1w05Wu1nT8RoQ_8S1eN5wS8_C_505no2CE7I_Z4" />
      <!-- <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"> -->
      <script src="{% static 'js/jquery.min.js' %}"></script>
      <script src="{% static 'js/bootstrap.min.js' %}"></script>
      <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
      <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}"/>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      
      {% include 'base/js.html' %}
      {% include 'base/css.html' %}
      <title>{% block title %} Hello {% endblock %}</title>

  </head>

  {% include 'base/navbar.html' %}

  <body style="background-color:rgb(61, 70, 78);">    
    <div class='container'>
      <!-- <h6 class='text-center'><font color = 'white'>This site is under active development and is for <font color = 'orange'> demonstration purposes only.</font></h6> -->
      {% if messages %}
      <div class="alert alert-success messages">
          {% for message in messages %}
          <span{% if message.tags %} class="{{ messages.tags }}"{% endif %}>
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
            {{ message }}<br/>
      </span>
        {% endfor %}
    </div>
        {% endif %}
            {% block content %}{% endblock %}
            {% block javascript %}{% endblock %}
            <footer class="container">
                <font color = '#FFFFFF'>

                <hr/>
                <h6 class='text-center'><font color = 'white'>This site is under active development and is for <font color = 'orange'> demonstration purposes only.</font></h6 class='text-center'>
                <script type="text/javascript">
                  var d = new Date()
                  document.write("<font color = 'grey'><p class='text-center text-monospace' style='font-size:80%;'>Stringkeeper &copy; " + d.getFullYear() + "</p></font>")
                </script>
                <hr/>
                {% if ascii_art %}
                
                <div class="container-md">
                    <pre>
                      <p class='text-monospace' style="font-size:2px">
                      <font color = '#85C1E9'> {{ascii_art}}
                    </pre>
                </div>
                
                
                {% endif %}
              </footer>
    </div>
  </body>
</html>