{% extends 'base.html' %}
{% block content %}

<p style="font-family:'Courier New', Courier, monospace; font-size:16px">
<font color = 'white'>

{% if not user.is_authenticated %}
    <font color = 'red'>
    You have been not been authenticated.<br>
{% endif %}

{% if user.is_authenticated %}
    {% if title %}
    <font color = 'white'> {{ title }}<br>
    {% endif %}
    {% if subtitle %}
    <font color = 'grey'> {{subtitle}}<br>
    {% endif %}
    <form method='POST' action='.' enctype='multipart/form-data'> {% csrf_token %}
            {{ form.as_p }}
        <button type='submit'>Send</button>
    </form>
{% endif %}

{% endblock %}