{% extends 'base.html' %}
{% block head_title %} Hello. {% endblock %}
{% block content %}
    <p style="font-family: 'Palatino'; font-size:14px">
    <font color = 'white'>
    {% if title %}
        <font color = 'white'> {{ title }}<br>
    {% endif %}
    {% if subtitle %}
        <font color = 'grey'> {{subtitle}}<br>
    {% endif %}

    <font color = 'orange'> Your IP: <font color = 'white'> {{ user_ip }}<br>
    <font color = 'orange'> Requested path: <font color = 'white'> {{ request.path }}<br>
    <font color = 'orange'> Authentication Status: <font color = 'white'> {{ user.is_authenticated }}<br>


    {% if user.is_authenticated %}
    
    <!-- <h3>User Email: {{ request.user.email }}.</h3>
    <h3>Welcome {{ request.user.first_name }}.</h3> -->
    <hr>
    <h4><font color = 'orange'> This site is currently under construction.</font></h4>
    <font color = 'orange'> First name: <font color = 'white'> {{ request.user.first_name }}<br>
    <font color = 'orange'> Last name: <font color = 'white'> {{ request.user.last_name }}<br>
    <font color = 'orange'> Full name: <font color = 'white'> {{ request.user.full_name }}<br>
    <font color = 'orange'> Email: <font color = 'white'> {{ request.user.email }}<br>
    <font color = 'orange'> Subscription: <font color = 'white'> <br>
    <font color = 'orange'> Address: <font color = 'white'> <br>
    <hr>
    <!-- {% load static %} -->
    <img src="{% static 'images/rocketraccoon.jpeg' %}" width='25%'/>
    <hr>
    <h5><font color = 'orange'> Please excuse the mess.</font></h5>



    </font>
    <!-- <img src="{% static 'images/gman.jpeg' %}"/> -->
    {% endif %}
    <!-- <font color = 'red'>
        You have been not been authenticated.<br> -->
    <!-- 
    {% if ascii_art %}
        <pre>
        <p style="font-size:2px">
        <font color = 'white'> {{ascii_art}}
        </pre>
    {% endif %} -->

{% endblock %}