{% extends 'base/base.html' %}
{% block head_title %} Hello. {% endblock %}
{% block content %}
    <p style="font-family: 'Palatino'; font-size:14px">
    <font color = 'white'>
    {% if title %}
        <font color = 'white'> {{ title }}<br>
    {% endif %}
    {% if subtitle %}
        <font color = 'grey'> {{subtitle}}<br>
    {% endif %}

    <font color = 'orange'> User IP: <font color = 'white'> {{ user_ip }}<br>
    <font color = 'orange'> Request user: <font color = 'white'> {{ request.user }}<br>
    <font color = 'orange'> Request path: <font color = 'white'> {{ request.path }}<br>
    <font color = 'orange'> User: <font color = 'white'> {{ user }}<br>
    <font color = 'orange'> Authenticated: <font color = 'white'> {{ user.is_authenticated }}<br><br>

    {% if user.is_authenticated %}

    {% endif %}
    <!-- <font color = 'red'>
        You have been not been authenticated.<br> -->
<!-- 
    {% if ascii_art %}
        <pre>
        <p style="font-size:2px">
        <font color = 'white'> {{ascii_art}}
        </pre>
    {% endif %} -->

{% endblock %}