{% extends 'base.html' %}
{% block content %}
{% load static %}
{% if user.email == 'andre@stringkeeper.com' %}





{% else %}

Welcome, you've found the stringkeeper. This site is under construction.

{% endif %}

{% endblock %}






If you're interested in finding someone or something but you're not sure where it might be, this service is for you. 
You do not need to supply anything beyond a set of descriptions of what it is you're interested in tracking.

The harvest process requires little effort for you. 
Simply describe what phrases describe your target, define a list of phrases you're not interested in and set the data type that you wish to target. 
There are many filters and options for you to use to better locate what it is you wanted to find.  

With your monthly subscription fee, the team at Stringkeeper dedicates a computer to perform web search, process language and compile your database 24/7. 
You may define as many jobs as you'd like. 
The machine saves you time as it reads millions of lines of text each day without wasting a minute of your day.

Each machine provides several reports. Reports include the history of websites that were visited including what was found on them. 
There's a report that describes why the machine chose to include or to ignore a website or data type. 
You can follow these trends and make adjustments to your job configuration to fine tune the machine such that it targets exactly what it is you seek.