[Unit]
Description=gunicorn daemon
Requires=socket
After=network.target

[Service]
PIDFile=/run/gunicorn/pid
User=root
Group=root
RuntimeDirectory=gunicorn
WorkingDirectory=/home/ubuntu/stringkeeper
ExecStart=/usr/bin/gunicorn --pid /run/gunicorn/pid   \
--bind unix:/run/gunicorn/socket stringkeeper.wsgi:application
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
PrivateTmp=true

[Install]
WantedBy=multi-user.target