{% extends "base.html" %}
{% load static %}
{% block content %}

{% if not subscribed %}
    <hr/>
        <h3 class='text-center'> {{ title }} </h3>
    <hr/>


    <div class="container">
        <!-- <div class="page-header">
            {{ request.session.session_key }}
        </div> -->
        <div class="row">
            <div class="col-md-12">
                <!-- <div id="user-list" class="list-group">
                    <a href="" class="list-group-item disabled">
                        <h4 class="list-group-item-heading">Users</h4>
                        {# Users go here #}
                    </a>
                </div> -->
            </div>
            <div class="col-md-12">
                <div class="panel panel-info">
                    <!-- <div class="panel-heading">
                        <h4 class="panel-title">Chat</h4>
                    </div> -->
                    <div>
                        <ul id="messages" class="messages">
                            {# Messages go here #}
                        </ul>
                    </div>
                    <div class="panel-footer">
                        <div class="input-group">
                            <input id="chat-input" type="text"
                                   class="form-control input"
                                   placeholder="Type your message here ..."
                                   maxlength="500">
                            <span class="input-group-btn">
                            <button class="btn btn-block btn-info btn"
                                    id="btn-send">
                                Send</button>
                        </span>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>

    <script>
let sessionKey = '{{ request.session.session_key }}';
let currentUser = '{{ request.user }}';

let currentRecipient = 'andre@stringkeeper.com';
let chatInput = $('#chat-input');
let chatButton = $('#btn-send');
let userList = $('#user-list');
let messageList = $('#messages');

function drawMessage(message) {
    console.log('drawMessage')
    let position = 'left';
    const date = new Date(message.timestamp);
    if (message.user === currentUser) position = 'right';

    const messageItem = `
            <li class="message ${position}">
                    <div class="text_wrapper">
                        <div class="text">${message.body}<br>
                    </div>
                </div>
            </li>`;
    $(messageItem).appendTo('#messages');
}

function getConversation(recipient) {
    console.log('getConversation')
    console.log('getConversation recipient: ' + recipient)
    
    $.getJSON(`/webharvest/api/v1/message/?target=${recipient}`, function (data) {
        messageList.children('.message').remove();
        for (let i = data['results'].length - 1; i >= 0; i--) {
            drawMessage(data['results'][i]);
        }
        messageList.animate({scrollTop: messageList.prop('scrollHeight')});
    });

    
    // $.getJSON(`/webharvest/api/v1/message/?target=${recipient}`, function (data) {
    //     messageList.children('.message').remove();
    //     for (let i = data['results'].length - 1; i >= 0; i--) {
    //         drawMessage(data['results'][i]);
    //     }
    //     messageList.animate({scrollTop: messageList.prop('scrollHeight')});
    // });


}

function getMessageById(message) {
    console.log('getMessageById')
    id = JSON.parse(message).message

    $.getJSON(`/webharvest/api/v1/message/${id}/`, function (data) {
        if (data.user === currentRecipient ||
            (data.recipient === currentRecipient && data.user == currentUser)) {
            drawMessage(data);
        }
        messageList.animate({scrollTop: messageList.prop('scrollHeight')});
    });


    // $.getJSON(`/webharvest/api/v1/message/${id}/`, function (data) {
    //     if (data.user === currentRecipient ||
    //         (data.recipient === currentRecipient && data.user == currentUser)) {
    //         drawMessage(data);
    //     }
    //     messageList.animate({scrollTop: messageList.prop('scrollHeight')});
    // });
}

function sendMessage(recipient, body) {
    console.log('sendMessage')
    console.log('recipient: ' + recipient )
    console.log('body: ' + body )
    $.post('/webharvest/api/v1/message/', {
        recipient: recipient,
        body: body
    }).fail(function () {
        alert('Error! Check console!');
    });

    // $.post('/webharvest/api/v1/message/', {
    //     recipient: recipient,
    //     body: body
    // }).fail(function () {
    //     alert('Error! Check console!');
    // });
}


function enableInput() {
    console.log('enableInput')
    chatInput.prop('disabled', false);
    chatButton.prop('disabled', false);
    chatInput.focus();
}

function disableInput() {
    console.log('disableInput')
    chatInput.prop('disabled', true);
    chatButton.prop('disabled', true);
}

$(document).ready(function () {
    console.log('$(document).ready(function')

    // updateUserList();

    disableInput();
    getConversation('andre@stringkeeper.com');
    enableInput();

    //  'ws://' + '127.0.0.1:8000' +
    //  '/ws?session_key=${sessionKey}'
    // var socket = new WebSocket('ws://' + '127.0.0.1:8000/webharvest' + '/ws?session_key=${sessionKey}')
    console.log('window.location.host: ' + window.location.host)

    if (window.location.host == '127.0.0.1:8000'){
        var socket = new WebSocket(
        'ws://127.0.0.1:8000/ws?session_key=${sessionKey}'
        )
    } else {
        var socket = new WebSocket(
        'wss://' + window.location.host + '/wss?session_key=${sessionKey}'
        )
        // var socket = new WebSocket("wss://stringkeeper.com/ws?session_key=${sessionKey}")

    }

    socket.onopen = function() {
            console.log('connected');
            console.log('connected');
        }

        socket.onclose = function(data) {
            console.log('onclose');
            console.log(data);
        }

        socket.onerror = function(data) {
            console.log('error');
            console.log(data);
        }

    //var socket = new WebSocket((window.location.protocol == 'http') ? 'ws://' : 'wss://' +  window.location.host + '/ws?session_key=${sessionKey}')

    chatInput.keypress(function (e) {
        console.log('chatInput.keypress')
        if (e.keyCode == 13)
            chatButton.click();
    });

    chatButton.click(function () {
        console.log('chatButton.click')
        if (chatInput.val().length > 0) {
            console.log('currentRecipient: ' + currentRecipient)
            console.log('chatInput.val(): ' + chatInput.val())
            sendMessage(currentRecipient, chatInput.val());
            chatInput.val('');
        }
    });

    socket.onmessage = function (e) {
        console.log('socket.onmessage')
        getMessageById(e.data);
    };


});

    </script>


{% endif %}



{% endblock %}




<h3 class='text-center'> Billing Profile: {{ billing_profile }} </h3>

<h5 class='text-left'> subscription purchases </h5>

{% for subscription_purchase in subscription_purchases %}
<hr/>
<h6 class='text-center'>{{ subscription_purchase.subscription }}</h6>
<hr/>
{% endfor %}

<h5 class='text-left'> my subscriptions </h5>

{% for my_subscription in my_subscriptions %}
<hr/>
<h6 class='text-center'> {{ my_subscription }} </h6>
<hr/>
{% endfor %}

<h5 class='text-left'> live subscription purchases </h5>

{% for live_subscription_purchase in live_subscription_purchases %}
<hr/>
<h6 class='text-center'> {{ live_subscription_purchase }} </h6>
<hr/>
{% endfor %}



