{% extends "base.html" %}

{% block content %}
{% if not subscribed %}
    <hr/>
        <h3 class='text-center'> {{ title }} </h3>
    <hr/>
{% endif %}



{% endblock %}




<h3 class='text-center'> Billing Profile: {{ billing_profile }} </h3>

<h5 class='text-left'> subscription purchases </h5>

{% for subscription_purchase in subscription_purchases %}
<hr/>
<h6 class='text-center'>{{ subscription_purchase.subscription }}</h6>
<hr/>
{% endfor %}

<h5 class='text-left'> my subscriptions </h5>

{% for my_subscription in my_subscriptions %}
<hr/>
<h6 class='text-center'> {{ my_subscription }} </h6>
<hr/>
{% endfor %}

<h5 class='text-left'> live subscription purchases </h5>

{% for live_subscription_purchase in live_subscription_purchases %}
<hr/>
<h6 class='text-center'> {{ live_subscription_purchase }} </h6>
<hr/>
{% endfor %}



