{% extends "base.html" %}

{% block content %}

<style>
    h1 {
        color:Green; 
    } 
    div.scroll { 
        margin:4px, 4px; 
        padding:4px; 
        background-color: black; 
        /* width: 500px;  */
        width: 100%;
        height: 400px; 
        /* height: auto;  */
        /* min-height: 300px; */
        overflow-x: hidden; 
        overflow-x: auto; 
        text-align:justify; 
    }
</style>
<div id='scroll' class="scroll">
<ul class='text-left' id='chat-items' style="padding:4px; margin:4px, 4px; list-style-type:none;font-family:Palatino;list-style-position: inside;">

{% for chat in object.webharvestchatmessage_set.all %}
<!-- chat.user = {{ chat.user }} -->

{% if user_email == chat.user %}
    <li><font color = '#FF8A14'>you: </font>{{ chat.message }}</li>
{% else %}
    <li><font color = '#1589FF'>{{ chat.user }}: </font>{{ chat.message }}</li>
{% endif %}
{% endfor %}
</ul>
</div>
<!-- </div> -->
<form id='form' method='POST'> {% csrf_token %}
    <input type='hidden' id='myUsername' value='{{ user_email }}' />
{{ form.as_p }}
<input id="buttonId" value="Send" name="form" type='submit' class='btn-block btn-info'/>
</form>

<!-- <form id='form2' method='POST'> {% csrf_token %}
    <input type='hidden' id='myUsername2' value='{{ user.email }}' />
{{ form2.as_p }}
<input id="buttonId2" value="Perform Data Mining" name="form2" type='submit' class='btn btn-info btn-block'/>
</form> -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/reconnecting-websocket/1.0.0/reconnecting-websocket.js"></script>

<body onload="hideButton()">
<!-- <script>
function hideButton()
{
    document.getElementById("buttonId").style.display='none';
    //or you can try
    //document.getElementById("buttonId").style.visibility='hidden';
}
</script> -->


<hr/>

<table class="table table-hover table-dark">
    <thead>
      <tr>
        <th scope="col"><h5>Command</h5></th>
        <th scope="col"><h5>Description</h5></th>

      </tr>
    </thead>
    <tbody>
      <tr>
        <td>search</td>
        <td>find entities associated keys</td>
      </tr>
      <tr>
        <td>stop</td>
        <td>stop current operation</td>
      </tr>
  </table>


<hr/>



<table class="table table-hover table-dark">
    <thead>
      <tr>
        <th scope="col"><h4>Recognizable Categories</h4></th>
        <th scope="col"><h4>Description</h4></th>

      </tr>
    </thead>
    <tbody>
      <tr>
        <td>EMAIL</td>
        <td>An email address</td>
      </tr>
      <tr>
        <td>PHONE</td>
        <td>A telephone number</td>
      </tr>
      <tr>
        <td>TITLE</td>
        <td>The title of a persons position</td>
      </tr>
      <tr>
        <td>CONTACT</td>
        <td>A description of a person, including their contact info and description.</td>
      </tr>
      <tr>
        <td>PERSON</td>
        <td>People, including fictional.</td>
      </tr>
      <tr>
        <td>NORP</td>
        <td>Nationalities or religious or political groups.</td>
      </tr>
      <tr>
        <td>FAC</td>
        <td>Buildings, airports, highways, bridges, etc.</td>
      </tr>
      <tr>
        <td>ORG</td>
        <td>Companies, agencies, institutions, etc.</td>
      </tr>
      <tr>
        <td>GPE</td>
        <td>Countries, cities, states.</td>
      </tr>
      <tr>
        <td>LOC</td>
        <td>Non-GPE locations, mountain ranges, bodies of water.</td>
      </tr>
      <tr>
        <td>PRODUCT</td>
        <td>Objects, vehicles, foods, etc. (Not services.)</td>
      </tr>
      <tr>
        <td>EVENT</td>
        <td>Named hurricanes, battles, wars, sports events, etc.</td>
      </tr>
      <tr>
        <td>WORK_OF_ART</td>
        <td>Titles of books, songs, etc.</td>
      </tr>
      <tr>
        <td>LAW</td>
        <td>Named documents made into laws.</td>
      </tr>
      <tr>
        <td>LANGUAGE</td>
        <td>Any named language.</td>
      </tr>
      <tr>
        <td>DATE</td>
        <td>Absolute or relative dates or periods.</td>
      </tr>
      <tr>
        <td>TIME</td>
        <td>Times smaller than a day.</td>
      </tr>
      <tr>
        <td>PERCENT</td>
        <td>Percentage, including ”%“.</td>
      </tr>
      <tr>
        <td>MONEY</td>
        <td>Monetary values, including unit.</td>
      </tr>
      <tr>
        <td>QUANTITY</td>
        <td>Measurements, as of weight or distance.</td>
      </tr>
      <tr>
        <td>ORDINAL</td>
        <td>“first”, “second”, etc.</td>
      </tr>
      <tr>
        <td>CARDINAL</td>
        <td>Numerals that do not fall under another type.</td>
      </tr>
  </table>


  <hr/>

<h6 class='text-center' >IP: {{ the_user.geo_ip_ip }}</h5>
<h6 class='text-center' >Country: {{ the_user.geo_ip_country }} City: {{ the_user.geo_ip_city }}</h5>
<h6 class='text-center' >Longitude: {{ the_user.geo_ip_longitude }} Latitude: {{ the_user.geo_ip_latitude }}</h5>


<script>
// websocket scripts
console.log('thread websocket connecting...')
var wsStart = 'ws://' 
var loc = window.location
var formData = $("#form")
var formData2 = $("#form2")
var msgInput = $("#id_message")
var chatHolder = $("#chat-items")
var me = $("#myUsername").val()

if (loc.protocol == 'https:'){
    wsStart = 'wss://'
}
var endpoint = wsStart + loc.host + loc.pathname 
console.log('endpoint: ' + endpoint)
var socket = new ReconnectingWebSocket(endpoint)

socket.onmessage = function(e){
    console.log("onmessage: ", e)
    var chatDataMsg = JSON.parse(e.data)
    console.log('chatDataMsg: ' + e.data)
    if (me == chatDataMsg.username){
        chatHolder.append("<li><font color = '#FF8A14'>you: </font>" + chatDataMsg.message + "</li>")
    }else{
        chatHolder.append("<li><font color = '#1589FF'>" + chatDataMsg.username + ": </font>" + chatDataMsg.message + "</li>")
    }
    // chatHolder.append("<li><font color = 'orange'>you: </font>" + chatDataMsg.message + "</li>")
    var objDiv = document.getElementById("scroll");
    objDiv.scrollTop = objDiv.scrollHeight;
    
}

socket.onopen = function(e){
    console.log("onopen: ", e)
    var initialData = {
            'message': '',
            'From': me,
            'datatest': 'thosedata'
        }
    socket.send(JSON.stringify(initialData))

    formData.submit(function(event){
        event.preventDefault()
        console.log('FORM DATA HAS TRIGGERED')
        var msgText = msgInput.val()
        console.log('msgText: ' + msgText)
        console.log('me: ' + me)
        // chatHolder.append("<li>" + msgText + ' via ' + me + '</li>')
        var finalData = {
            'message': msgText,
            'From': me
        }
        socket.send(JSON.stringify(finalData))
        // form data clear element 0
        // this way lets you clear other fields if you'd like.
        formData[0].reset()
        // u can alternatively clear it like this
        // msgInput.val('')
    })
    formData2.submit(function(event){
        
        console.log('form2: ' + form2)
        for(item in form2){
            console.log('item: ' + item)
        }
        event.preventDefault()
        console.log('FORM 2 DATA HAS TRIGGERED')
        console.log(event)
        console.log(form2.somesetting)
        console.log(form2.somesetting.value)

        var $formDater = $(this).serialize()
        var $thisURL = window.location.href // or set your own url
        $.ajax({
            method: "POST",
            url: $thisURL,
            data: $formDater,
            success: handleFormSuccess,
            error: handleFormError,
        })


        function handleFormSuccess(data, textStatus, jqXHR){
            console.log(data)
            console.log(textStatus)
            console.log(jqXHR)
            // formData2.reset(); // reset form data
        }

        function handleFormError(jqXHR, textStatus, errorThrown){
            console.log(jqXHR)
            console.log(textStatus)
            console.log(errorThrown)
        }
        // console.log(form2.instance.somesetting)
        // console.log(form2.instance.somesetting.val())

        // var msgText = msgInput.val()
        // chatHolder.append("<li>" + msgText + ' via ' + me + '</li>')

        // var finalData = {
        //     'user_email': msgText
        // }
        // socket.send(JSON.stringify(finalData))
        // form data clear element 0
        // this way lets you clear other fields if you'd like.
        // formData[0].reset()
        // u can alternatively clear it like this
        // msgInput.val('')
    })
}
socket.onerror = function(e){
    console.log("onerror: ", e)
}
socket.onclose = function(e){
    console.log("onclose: ", e)
}

</script>

<!-- 
<hr>
ComposeForm: {{ ComposeForm }}

<hr>


<hr>
WebharvestJobForm: {{ WebharvestJobForm }}

<hr>

<hr>
WebharvestJob: {{ WebharvestJob }}

<hr> -->




{% endblock %}