{% extends "base.html" %}

{% block content %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/reconnecting-websocket/1.0.0/reconnecting-websocket.js"></script>

<script src="https://bossanova.uk/jexcel/v3/jexcel.js"></script>
<script src="https://bossanova.uk/jsuites/v2/jsuites.js"></script>
<link rel="stylesheet" href="https://bossanova.uk/jsuites/v2/jsuites.css" type="text/css" />
<link rel="stylesheet" href="https://bossanova.uk/jexcel/v3/jexcel.css" type="text/css" />


<input type='hidden' id='records_list' value='{{ records_list }}' />

<script>
      var records_list = $("#records_list").val();
</script>

<style>
    h1 {
        color:Green; 
    } 
    div.scroll { 
        margin:4px, 4px; 
        padding:4px; 
        background-color: black; 
        /* width: 500px;  */
        width: 100%;
        height: 400px; 
        /* height: auto;  */
        /* min-height: 300px; */
        overflow-x: hidden; 
        overflow-x: auto; 
        text-align:justify; 
    }
</style>
<div id='scroll' class="scroll">
  <ul class='text-left' id='chat-items' style="padding:4px; margin:4px, 4px; list-style-type:none;font-family:Palatino;list-style-position: inside;">
    {% for chat in object.webharvestchatmessage_set.all reversed%}
    {% if user_email == chat.user %}
        <li><font color = '#FF8A14'>you: </font>{{ chat.message }}</li>
    {% else %}
        <li><font color = '#1589FF'>{{ chat.user }}: </font>{{ chat.message }}</li>
    {% endif %}
    {% endfor %}
  </ul>
</div>
<!-- </div> -->
<form id='form' method='POST'> {% csrf_token %}
    <input type='hidden' id='myUsername' value='{{ user_email }}' />
    <!-- <input type='hidden' id='records_list' value='{{ records_list }}' /> -->
    <!-- <input type='hidden' id='records_data' value='{{ records_data }}' /> -->
{{ form.as_p }}
<input id="buttonId" value="Send" name="form" type='submit' class='btn-block btn-info'/>
</form>
<hr/>


<!-- <button id="function">function</button>  -->



<hr/>
  <div id="spreadsheet" style='font-weight: bold; color:rgb(0, 0, 0); background-color: rgb(255, 255, 255);'></div>
<hr/>

<hr/>

<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jexcel/2.1.0/css/jquery.jexcel.bootstrap.min.css" type="text/css" /> -->

<script>
  var data1 = [
    ['URL','SENTENCE','TEXT','LABEL']
    ]
  var table1 = jexcel(document.getElementById('spreadsheet'), {
      data:data1,
      tableOverflow:true,
      lazyLoading:true,
      loadingSpin:true,
      // readOnly:true,
      // search:true,
      // pagination:10,
      
      // style:'font-weight:bold; color:white; background-color: rgb(61, 70, 78);',
      // onchange:update,
      columns: [
          // { type: 'numeric', title:'index', width:120 },
          { type: 'text', title:'url', width:200},
          { type: 'text', title:'sentence', width:340},
          // { type: 'text', title:'noun chunk', width:220},
          // { type: 'text', title:'lemma', width:140},
          // { type: 'text', title:'pos', width:140},
          { type: 'text', title:'text', width:330},
          { type: 'text', title:'label', width:160}
      ],
    //   style: {
    //     // A1:'background-color: orange;',
    //     // B1:'background-color: orange;',
    // },
  });
  // table1.jexcel('setSyle', [ { A1:'background-color:red' }, { B1: 'color:red'} ]);
  setup_table();

  function setup_table() {
    console.log('SETUP TABLE INITIALIZED')
    // table1.insertRow(['testing']) // works
    // table1('insertRow', 1)
    // table1.insertRow(30) // works
    // table1.hideIndex() // works
    // table1.setStyle({A1:'background-color: orange'}) //works
    // table1.setStyle({B1:'background-color: orange'}) //
    // table1.setStyle({cell:'background-color: orange'}) //
    // table1.setStyle({table:'background-color: orange'}) //
    // table1.setStyle({ A1:'font-weight: bold; color:red;', B1:'background-color: yellow;', C1:'text-decoration: underline;', A1:'text-align:left;' }) //works
    table1.setStyle({ 
      A1:'font-weight: bold; color:white; background-color: rgb(61, 70, 78);',
      B1:'font-weight: bold; color:white; background-color: rgb(61, 70, 78);',
      C1:'font-weight: bold; color:white; background-color: rgb(61, 70, 78);',
      D1:'font-weight: bold; color:white; background-color: rgb(61, 70, 78);'
      // E1:'font-weight: bold; color:white; background-color: rgb(61, 70, 78);',
      // F1:'font-weight: bold; color:white; background-color: rgb(61, 70, 78);',
      // G1:'font-weight: bold; color:white; background-color: rgb(61, 70, 78);',

      }) //

    // table1.setStyle({
    //   table1:'font-weight: bold; color:white; background-color: rgb(61, 70, 78);'
    // }) //
  }



  function ExportSpreadsheet() {
  console.log('clicked Export my spreadsheet as CSV')
  $('#spreadsheet').jexcel('download');
  }

</script>
<!-- <input id="buttonId" value="Send" name="form" type='submit' class='btn-block btn-info'/> -->


  <button value="Send" name="form" class='btn-block btn-info' onclick="ExportSpreadsheet()">Download Spreadsheet</button> 


<!-- <div id='scroll' class="scroll">
  <ul class='text-left' id='spreadsheetHolder' style="padding:4px; margin:4px, 4px; list-style-type:none;font-family:Palatino;list-style-position: inside;"> -->
    <!-- {% for record in records_list %} -->
    <!-- <li>
      <font color = '#FF8A14'>{{ record.index }}</font>
      <input type='hidden' id='record_index' value='{{ record.index }}' />
      <font color = '#FFFFFF'>,</font>
      <font color = '#00cc99'>{{ record.url }}</font>
      <font color = '#FFFFFF'>,</font>
      <font color = '#990066'>{{ record.sentence }}</font>
      <font color = '#FFFFFF'>,</font>
      <font color = '#66ff33'>{{ record.noun_chunk }}</font>
      <font color = '#FFFFFF'>,</font>
      <font color = '#0033cc'>{{ record.lemma }}</font>
      <font color = '#FFFFFF'>,</font>
      <font color = '#ffff00'>{{ record.pos }}</font>
      <font color = '#FFFFFF'>,</font>
      <font color = '#33cc00'>{{ record.text }}</font>
      <font color = '#FFFFFF'>,</font>
      <font color = '#ff00cc'>{{ record.label }}</font>
    </li> -->
    <!-- <script>
      // var record_index = $("#record_index").val()
      tryMe();
      function tryMe() {
        console.log('TRYME: ' + '{{ record.index }}')
        // table1.insertRow(['{{ record.url }}', '{{ record.sentence }}', '{{ record.noun_chunk }}', '{{ record.lemma }}', '{{ record.pos }}', '{{ record.text }}', '{{ record.label }}' ])
        table1.insertRow(['{{ record.url }}', '{{ record.sentence }}', '{{ record.text }}', '{{ record.label }}' ])
        sleep(60);
      }
    </script>
    {% endfor %} -->
  <!-- </ul>
</div> -->


<!-- <form id='form2' method='POST'> {% csrf_token %}
    <input type='hidden' id='myUsername2' value='{{ user.email }}' />
{{ form2.as_p }}
<input id="buttonId2" value="Perform Data Mining" name="form2" type='submit' class='btn btn-info btn-block'/>
</form> -->


<script>
function hideButton()
{
    document.getElementById("buttonId").style.display='none';
    //or you can try
    //document.getElementById("buttonId").style.visibility='hidden';
}
</script>


<hr/>

<div align="center" >
  <h2><font color = '#FFFFFF'>Category Occurrences</font></h2>
</div>

<div class="chart-container" style="position: relative">
  <canvas id="myChart"></canvas>
</div>

<hr/>

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

<script>
// var ctx = document.getElementById('myChart').getContext('2d');
// var chart = new Chart(ctx, {
//     // The type of chart we want to create
//     type: 'line',

//     // The data for our dataset
//     data: {
//         labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
//         datasets: [{
//             label: 'My First dataset',
//             backgroundColor: 'rgb(255, 99, 132)',
//             borderColor: 'rgb(255, 99, 132)',
//             data: [0, 10, 5, 2, 20, 30, 45]
//         }]
//     },

//     // Configuration options go here
//     options: {}
// });
var pie_chart_EMAIL       = 1
var pie_chart_PHONE       = 1
var pie_chart_TITLE       = 1
var pie_chart_CONTACT     = 1
var pie_chart_PERSON      = 1
var pie_chart_NORP        = 1
var pie_chart_FAC         = 1
var pie_chart_ORG         = 1
var pie_chart_GPE         = 1
var pie_chart_LOC         = 1
var pie_chart_PRODUCT     = 1
var pie_chart_EVENT       = 1
var pie_chart_WORK_OF_ART = 1
var pie_chart_LAW         = 1
var pie_chart_LANGUAGE    = 1
var pie_chart_DATE        = 1
var pie_chart_TIME        = 1
var pie_chart_PERCENT     = 1
var pie_chart_MONEY       = 1
var pie_chart_QUANTITY    = 1
var pie_chart_ORDINAL     = 1
var pie_chart_CARDINAL    = 1

var pie_data = [
pie_chart_EMAIL,
pie_chart_PHONE,
pie_chart_TITLE,
pie_chart_CONTACT,
pie_chart_PERSON,
pie_chart_NORP,
pie_chart_FAC,
pie_chart_ORG,
pie_chart_GPE,
pie_chart_LOC,
pie_chart_PRODUCT,
pie_chart_EVENT,
pie_chart_WORK_OF_ART,
pie_chart_LAW,
pie_chart_LANGUAGE,
pie_chart_DATE,
pie_chart_TIME,
pie_chart_PERCENT,
pie_chart_MONEY,
pie_chart_QUANTITY,
pie_chart_ORDINAL,
pie_chart_CARDINAL
]

var piedata = {
    datasets: [{
        data: pie_data,
        backgroundColor: [
                'rgba(211,63,106, 1)',
                'rgba(17,198,56, 1)',
                'rgba(224,123,145, 1)',
                'rgba(141,213,147, 1)',
                'rgba(230,175,185, 1)',
                'rgba(198,222,199, 1)',
                'rgba(181,187,227, 1)',
                'rgba(234,211,198, 1)',
                'rgba(133,149,225, 1)',
                'rgba(240,185,141, 1)',
                'rgba(74,111,227, 1)',
                'rgba(239,151,8, 1)',
                'rgba(142,6,59, 1)',
                'rgba(15,207,192, 1)',
                'rgba(187,119,132, 1)',
                'rgba(156,222,214, 1)',
                'rgba(214,188,192, 1)',
                'rgba(213,234,231, 1)',
                'rgba(190,193,212, 1)',
                'rgba(243,225,235, 1)',
                'rgba(125,135,185, 1)',
                'rgba(246,196,225, 1)',
                'rgba(2,63,165, 1)',
                'rgba(247,156,212, 1)'
            ],
      }],



    // These labels appear in the legend and in the tooltips when hovering different arcs
    labels: [
        'EMAIL',
        'PHONE',
        'TITLE',
        'CONTACT',
        'PERSON',
        'NORP',
        'FAC',
        'ORG',
        'GPE',
        'LOC',
        'PRODUCT',
        'EVENT',
        'WORK_OF_ART',
        'LAW',
        'LANGUAGE',
        'DATE',
        'TIME',
        'PERCENT',
        'MONEY',
        'QUANTITY',
        'ORDINAL',
        'CARDINAL'
    ]
    
};

var ctx = document.getElementById('myChart').getContext('2d');
var piechart = new Chart(ctx, {
    // The type of chart we want to create
    type: 'pie',

    // The data for our dataset
    data: piedata,

    // Configuration options go here
    options: {
      responsive: true,
      responsiveAnimationDuration: 0,

      // title: {
      //       display: true,
      //       text: 'Category Occurances',
      //       fontColor: "white",
      //       fontSize: 24


      //     },

      legend: {
        
        display: true,
            labels: {
                boxWidth: 10,
                usePointStyle: true,
                fontColor: "white",
                fontSize: 12
            }
        },
    }
});


function IncrementPieLabel(chart, label) {
  if(label == 'EMAIL')
  {
    pie_chart_EMAIL += 1
  }
  else if(label == 'PHONE')
  {
    pie_chart_PHONE += 1
  }
  else if(label == 'TITLE')
  {
    pie_chart_TITLE += 1
  }
  else if(label == 'CONTACT')
  {
    pie_chart_CONTACT += 1
  }
  else if(label == 'PERSON')
  {
    pie_chart_PERSON += 1
  }
  else if(label == 'NORP')
  {
    pie_chart_NORP += 1
  }
  else if(label == 'FAC')
  {
    pie_chart_FAC += 1
  }
  else if(label == 'ORG')
  {
    pie_chart_ORG += 1
  }
  else if(label == 'GPE')
  {
    pie_chart_GPE += 1
  }
  else if(label == 'LOC')
  {
    pie_chart_LOC += 1
  }
  else if(label == 'PRODUCT')
  {
    pie_chart_PRODUCT += 1
  }
  else if(label == 'EVENT')
  {
    pie_chart_EVENT += 1
  }
  else if(label == 'WORK_OF_ART')
  {
    pie_chart_WORK_OF_ART += 1
  }
  else if(label == 'LAW')
  {
    pie_chart_LAW += 1
  }
  else if(label == 'LANGUAGE')
  {
    pie_chart_LANGUAGE += 1
  }
  else if(label == 'DATE')
  {
    pie_chart_DATE += 1
  }
  else if(label == 'TIME')
  {
    pie_chart_TIME += 1
  }
  else if(label == 'PERCENT')
  {
    pie_chart_PERCENT += 1
  }
  else if(label == 'MONEY')
  {
    pie_chart_MONEY += 1
  }
  else if(label == 'QUANTITY')
  {
    pie_chart_QUANTITY += 1
  }
  else if(label == 'ORDINAL')
  {
    pie_chart_ORDINAL += 1
  }
  else if(label == 'CARDINAL')
  {
    pie_chart_CARDINAL += 1
  }
  
  var pie_data = [
      pie_chart_EMAIL,
      pie_chart_PHONE,
      pie_chart_TITLE,
      pie_chart_CONTACT,
      pie_chart_PERSON,
      pie_chart_NORP,
      pie_chart_FAC,
      pie_chart_ORG,
      pie_chart_GPE,
      pie_chart_LOC,
      pie_chart_PRODUCT,
      pie_chart_EVENT,
      pie_chart_WORK_OF_ART,
      pie_chart_LAW,
      pie_chart_LANGUAGE,
      pie_chart_DATE,
      pie_chart_TIME,
      pie_chart_PERCENT,
      pie_chart_MONEY,
      pie_chart_QUANTITY,
      pie_chart_ORDINAL,
      pie_chart_CARDINAL
    ]
    chart.data.datasets.forEach((dataset) => {
        // console.log('dataset.data: ' + dataset.data)
        dataset.data = pie_data;
        // console.log('dataset.data: ' + dataset.data)
    });
    // chart.data.datasets[1].data = data;
    chart.update();
}


</script>

<hr />


<table class="table table-hover table-dark">
    <thead>
      <tr>
        <th scope="col"><h5>Command</h5></th>
        <th scope="col"><h5>Description</h5></th>

      </tr>
    </thead>
    <tbody>
      <tr>
        <td>search</td>
        <td>find strings associated with your message</td>
      </tr>
      <tr>
        <td>stop</td>
        <td>stop current operation</td>
      </tr>
  </table>
<hr/>



<table class="table table-hover table-dark">
    <thead>
      <tr>
        <th scope="col"><h4>Recognizable Categories</h4></th>
        <th scope="col"><h4>Description</h4></th>

      </tr>
    </thead>
    <tbody>
      <tr>
        <td>EMAIL</td>
        <td>An email address</td>
      </tr>
      <tr>
        <td>PHONE</td>
        <td>A telephone number</td>
      </tr>
      <tr>
        <td>TITLE</td>
        <td>The title of a persons position</td>
      </tr>
      <tr>
        <td>CONTACT</td>
        <td>A description of a person, including their contact info and description.</td>
      </tr>
      <tr>
        <td>PERSON</td>
        <td>People, including fictional.</td>
      </tr>
      <tr>
        <td>NORP</td>
        <td>Nationalities or religious or political groups.</td>
      </tr>
      <tr>
        <td>FAC</td>
        <td>Buildings, airports, highways, bridges, etc.</td>
      </tr>
      <tr>
        <td>ORG</td>
        <td>Companies, agencies, institutions, etc.</td>
      </tr>
      <tr>
        <td>GPE</td>
        <td>Countries, cities, states.</td>
      </tr>
      <tr>
        <td>LOC</td>
        <td>Non-GPE locations, mountain ranges, bodies of water.</td>
      </tr>
      <tr>
        <td>PRODUCT</td>
        <td>Objects, vehicles, foods, etc. (Not services.)</td>
      </tr>
      <tr>
        <td>EVENT</td>
        <td>Named hurricanes, battles, wars, sports events, etc.</td>
      </tr>
      <tr>
        <td>WORK_OF_ART</td>
        <td>Titles of books, songs, etc.</td>
      </tr>
      <tr>
        <td>LAW</td>
        <td>Named documents made into laws.</td>
      </tr>
      <tr>
        <td>LANGUAGE</td>
        <td>Any named language.</td>
      </tr>
      <tr>
        <td>DATE</td>
        <td>Absolute or relative dates or periods.</td>
      </tr>
      <tr>
        <td>TIME</td>
        <td>Times smaller than a day.</td>
      </tr>
      <tr>
        <td>PERCENT</td>
        <td>Percentage, including ”%“.</td>
      </tr>
      <tr>
        <td>MONEY</td>
        <td>Monetary values, including unit.</td>
      </tr>
      <tr>
        <td>QUANTITY</td>
        <td>Measurements, as of weight or distance.</td>
      </tr>
      <tr>
        <td>ORDINAL</td>
        <td>“first”, “second”, etc.</td>
      </tr>
      <tr>
        <td>CARDINAL</td>
        <td>Numerals that do not fall under another type.</td>
      </tr>
      <!-- <tr>
        <td>Lemma</td>
        <td>The base form of the word.</td>
      </tr>
      <tr>
        <td>POS</td>
        <td>The simple part-of-speech tag.</td>
      </tr>
      <tr>
        <td>Noun Chunk</td>
        <td>The original text of the word connecting the noun chunk to the rest of the parse.</td>
      </tr> -->
  </table>


  <hr/>

<h6 class='text-center' >IP: {{ the_user.geo_ip_ip }}</h5>
<h6 class='text-center' >Country: {{ the_user.geo_ip_country }} City: {{ the_user.geo_ip_city }}</h5>
<h6 class='text-center' >Longitude: {{ the_user.geo_ip_longitude }} Latitude: {{ the_user.geo_ip_latitude }}</h5>




  <script type="text/javascript">
    // websocket scripts
    console.log('thread websocket connecting...')
    var wsStart = 'ws://' 
    var loc = window.location
    var formData = $("#form")
    var formData2 = $("#form2")
    var msgInput = $("#id_message")
    var chatHolder = $("#chat-items")
    // var csv_box = $("#spreadsheetHolder")
    var me = $("#myUsername").val()
    // var records_list = $("#records_list").val();
    // var records_test = $("#records_test").val()


    // for (i = 0; i < records_list.length; i++) {      
    //   console.log('records_list[' + i + ']: ' + records_list[i])
    // }

    if (loc.protocol == 'https:'){
        wsStart = 'wss://'
    }
    var endpoint = wsStart + loc.host + loc.pathname 
    console.log('endpoint: ' + endpoint)
    var socket = new ReconnectingWebSocket(endpoint)
    // new_pie_data = [1,1,1,1,1,1,1,1,1,1,6,1,1,1,1,1,1,1,1,1,1,1]

    // IncrementPieLabel(piechart, 'EMAIL')
    // IncrementPieLabel(piechart, 'PHONE')
    // IncrementPieLabel(piechart, 'PHONE')
    chatHolder.append("<li>Hello there, you can ask me to crawl the web and perform data mining operations for you. Input your messages into the field below and press send to chat with me. :) </li>")
    
    socket.onmessage = function(e){
        // console.log("onmessage: ", e)
        var chatDataMsg = JSON.parse(e.data)
        // console.log('chatDataMsg: ' + e.data)
        
        if (me == chatDataMsg.username && chatDataMsg.command == 'print' || me == chatDataMsg.username && chatDataMsg.command == null ){
            chatHolder.append("<li><font color = '#FF8A14'>you: </font>" + chatDataMsg.message + "</font></li>")
        }
        else if (chatDataMsg.command == 'print'){
            chatHolder.append("<li><font color = '#1589FF'>" + chatDataMsg.username + ": </font>" + chatDataMsg.message + "</li>")
        }
        else if (chatDataMsg.command == 'a_csv'){
          console.log('APPEND TO CSV TRIGGERED!')

          // csv_box.append(
          //   "<li> <font color = '#FF8A14'>" + chatDataMsg.csv_index + "</font>" +
          //   "<font color = '#FFFFFF'>,</font>" +
          //   "<font color = '#00cc99'>" + chatDataMsg.csv_url + "</font>" +
          //   "<font color = '#FFFFFF'>,</font>" +
          //   "<font color = '#990066'>" + chatDataMsg.csv_sentence + "</font>" +
          //   "<font color = '#FFFFFF'>,</font>" +
          //   "<font color = '#66ff33'>" + chatDataMsg.csv_noun_chunk + "</font>" +
          //   "<font color = '#FFFFFF'>,</font>" +
          //   "<font color = '#0033cc'>" + chatDataMsg.csv_lemma + "</font>" +
          //   "<font color = '#FFFFFF'>,</font>" +
          //   "<font color = '#ffff00'>" + chatDataMsg.csv_pos + "</font>" +
          //   "<font color = '#FFFFFF'>,</font>" +
          //   "<font color = '#33cc00'>" + chatDataMsg.csv_text + "</font>" +
          //   "<font color = '#FFFFFF'>,</font>" +
          //   "<font color = '#ff00cc'>" + chatDataMsg.csv_label + "</font> </li>"
          //   )

          table1.insertRow([
          chatDataMsg.csv_url,
          chatDataMsg.csv_sentence,
          // chatDataMsg.csv_noun_chunk,
          // chatDataMsg.csv_lemma,
          // chatDataMsg.csv_pos,
          chatDataMsg.csv_text,
          chatDataMsg.csv_label
          ])
          IncrementPieLabel(piechart, chatDataMsg.csv_label)
          // sleep(60);

        }
    
        // chatHolder.append("<li><font color = 'orange'>you: </font>" + chatDataMsg.message + "</li>")
        var objDiv = document.getElementById("scroll");
        objDiv.scrollTop = objDiv.scrollHeight;
        
    }
    
    socket.onopen = function(e){
        console.log("onopen: ", e)
        var initialData = {
                'message': '',
                'From': me,
                'datatest': 'thosedata'
            }
        socket.send(JSON.stringify(initialData))
    
        formData.submit(function(event){
            event.preventDefault()
            console.log('FORM DATA HAS TRIGGERED')
            var msgText = msgInput.val()
            console.log('msgText: ' + msgText)
            console.log('me: ' + me)
            // chatHolder.append("<li>" + msgText + ' via ' + me + '</li>')
            var finalData = {
                'message': msgText,
                'From': me
            }
            socket.send(JSON.stringify(finalData))
            // form data clear element 0
            // this way lets you clear other fields if you'd like.
            formData[0].reset()
            // u can alternatively clear it like this
            // msgInput.val('')
        })
        formData2.submit(function(event){
            
            console.log('form2: ' + form2)
            for(item in form2){
                console.log('item: ' + item)
            }
            event.preventDefault()
            console.log('FORM 2 DATA HAS TRIGGERED')
            console.log(event)
            console.log(form2.somesetting)
            console.log(form2.somesetting.value)
    
            var $formDater = $(this).serialize()
            var $thisURL = window.location.href // or set your own url
            $.ajax({
                method: "POST",
                url: $thisURL,
                data: $formDater,
                success: handleFormSuccess,
                error: handleFormError,
            })
    
    
            function handleFormSuccess(data, textStatus, jqXHR){
                console.log(data)
                console.log(textStatus)
                console.log(jqXHR)
                // formData2.reset(); // reset form data
            }
    
            function handleFormError(jqXHR, textStatus, errorThrown){
                console.log(jqXHR)
                console.log(textStatus)
                console.log(errorThrown)
            }
            // console.log(form2.instance.somesetting)
            // console.log(form2.instance.somesetting.val())
    
            // var msgText = msgInput.val()
            // chatHolder.append("<li>" + msgText + ' via ' + me + '</li>')
    
            // var finalData = {
            //     'user_email': msgText
            // }
            // socket.send(JSON.stringify(finalData))
            // form data clear element 0
            // this way lets you clear other fields if you'd like.
            // formData[0].reset()
            // u can alternatively clear it like this
            // msgInput.val('')
        })
    }
    socket.onerror = function(e){
        console.log("onerror: ", e)
    }
    socket.onclose = function(e){
        console.log("onclose: ", e)
    }
    
    
    
  </script>

<!-- 
<hr>
ComposeForm: {{ ComposeForm }}

<hr>


<hr>
WebharvestJobForm: {{ WebharvestJobForm }}

<hr>

<hr>
WebharvestJob: {{ WebharvestJob }}

<hr> -->




{% endblock %}