{% extends "base.html" %}

{% block content %}
<hr/>
<h5 class='text-center' >Logged in as {{ request.user }}</h5>
<h5 class='text-center' >Chatting with {% if user != object.first %}{{ object.first }}{% else %}{{ object.second }}{% endif %}</h5class='text-center'>
<hr/>

<ul class='text-left' id='chat-items'>


{% for chat in object.webharvestchatmessage_set.all %}

<li>{{ chat.message }} via {{ chat.user }}</li>

{% endfor %}
</ul>

<form id='form' method='POST'> {% csrf_token %}
    <input type='hidden' id='myUsername' value='{{ user.email }}' />
{{form.as_p }}
<input type='submit' class='btn btn-primary'/>
</form>


<script src="https://cdnjs.cloudflare.com/ajax/libs/reconnecting-websocket/1.0.0/reconnecting-websocket.js"></script>

<script>
// websocket scripts
console.log('thread websocket connecting...')
var wsStart = 'ws://' 
var loc = window.location
var formData = $("#form")
var msgInput = $("#id_message")
var chatHolder = $("#chat-items")
var me = $("#myUsername").val()

if (loc.protocol == 'https:'){
    wsStart = 'wss://'
}
var endpoint = wsStart + loc.host + loc.pathname 
console.log('endpoint: ' + endpoint)
var socket = new ReconnectingWebSocket(endpoint)

socket.onmessage = function(e){
    console.log("onmessage: ", e)
    var chatDataMsg = JSON.parse(e.data)
    console.log(e.data)
    chatHolder.append("<li>" + chatDataMsg.message + " via " + chatDataMsg.username + "</li>")
}

socket.onopen = function(e){
    console.log("onopen: ", e)
    formData.submit(function(event){
        event.preventDefault()
        var msgText = msgInput.val()
        // chatHolder.append("<li>" + msgText + ' via ' + me + '</li>')
        var finalData = {
            'message': msgText
        }
        socket.send(JSON.stringify(finalData))
        // form data clear element 0
        // this way lets you clear other fields if you'd like.
        formData[0].reset()
        // u can alternatively clear it like this
        // msgInput.val('')
    })
}
socket.onerror = function(e){
    console.log("onerror: ", e)
}
socket.onclose = function(e){
    console.log("onclose: ", e)
}

</script>
{% endblock %}