{% extends 'base.html' %}


{% block content %}

<button>Click Here to Toggle</button>

<div class="textLine" style="background-color:yellow;">
 This is a yellow line.....
</div>


{% if payment_company == 'stripe' %}
<!-- _Stripe_ Form START -->
<div class='col-10 col-md-6 mx-auto'>
    <h1>Add Payment Method</h1>
    <div class='stripe-payment-form' data-token='{{ publish_key }}' data-next-url='{% if next_url %}{{ next_url }}{% endif %}' data-btn-title='Add New Card'></div>
</div>
<!-- _Stripe_ Form END -->
{% endif %}



{% if payment_company != 'stripe' %}

<div id="dropin-container"></div>
<button id="submit-button">Request payment method</button>
<script>
  var button = document.querySelector('#submit-button');

  braintree.dropin.create({
    authorization: 'CLIENT_AUTHORIZATION',
    container: '#dropin-container'
  }, function (createErr, instance) {
    button.addEventListener('click', function () {
      instance.requestPaymentMethod(function (requestPaymentMethodErr, payload) {
        // Submit payload.nonce to your server
      });
    });
  });
</script>
{% endif %}

{% endblock %}
