{% extends 'base.html' %}


{% block content %}
<!-- 
<button>Click Here to Toggle</button>

<div class="textLine" style="background-color:yellow;">
 This is a yellow line.....
</div> -->


{% if payment_company == 'stripe' %}
<!-- _Stripe_ Form START -->
<div class='col-10 col-md-6 mx-auto'>
    <h1>Add Payment Method</h1>
    <div class='stripe-payment-form' data-token='{{ publish_key }}' data-next-url='{% if next_url %}{{ next_url }}{% endif %}' data-btn-title='Add New Card'></div>
</div>


<!-- _Stripe_ Form END -->
{% endif %}

======= DEBUG ==========


<script
  src="https://code.jquery.com/jquery-3.4.1.slim.js"
  integrity="sha256-BTlTdQO9/fascB1drekrDVkaKd9PkwBymMlHOiG+qLI="
  crossorigin="anonymous"></script>

<hr/>
ACTIIVE SUBSCRIPTIONS:
<hr/>
{% for subscription in customer_active_subscriptions %}
Active subscription: {{ subscription.id }}
<hr/>
{% endfor %}


<a onclick="AjaxFormSubmit()" href="#">AJAX SUBMIT</a>
<input type="hidden" id="dolce" name="dolce" value='tinie tiniest' />
<hr/>

<script>
function AjaxFormSubmit() {
  console.log('AJAX SUBMIT')
  console.log('document.getElementById("dolce").value : ' + document.getElementById("dolce").value )
    $.ajax({
        url : '.',
        type : "POST",
        // data : { the_post : $('#id-of-your-field').val() }
        data : { the_post : $('#dolce').val() }
    }).done(function(returned_data){
      console.log('document.getElementById("dolce").value : ' + document.getElementById("dolce").value )
      console.log('returned_data: ' + returned_data)
      console.log('returned_data: ' + JSON.stringify(returned_data))
        // This is the ajax.done() method, where you can fire events after the ajax method is complete 

        // For instance, you could hide/display your add/remove button here

    });
}

</script>



<form method="POST" id="textValueField-form-ajax" name="textValueField-form-ajax">
  {% csrf_token %}
  <input type="hidden" id="dante" name="dante" />
  <input type="hidden" id="inputFValue" name="inputFValue" />
  <input type='text' id='inputF' name='inputF'/>
  <button id="submit">test-ajax</button>
</form>

<script type="text/javascript">
var dante = 'buddy'
var inputF = document.getElementById("inputF");
var inputFValue = 'Hello from javascript';
var form = document.querySelector('#textValueField-form-ajax');

$(document).ready(function() {
    $('#textValueField-form-ajax').submit(function() { // catch the form's submit even
        $.ajax({ // create an AJAX call...
            data: $(this).serialize(), // get the form data
            type: $(this).attr('method'), // GET or POST
            url: $(this).attr('action'), // the file to call
            success: function(response) { // on success..
              console.log('SUCCESS !!')
              console.log('inputF: 0: ' +  inputF)
              console.log('inputFValue: 0: ' +  inputFValue)
              document.getElementById("inputF").value = 'success!'
              inputFValue = document.getElementById("inputF").value
              console.log('inputFValue: 1: ' +  inputFValue)
              document.querySelector('#inputFValue').value = 'hello'
              document.querySelector('#dante').value = dante
              console.log('dante: ' + dante)
              console.log("document.querySelector('#dante').value: " + document.querySelector('#dante').value)
              console.log("document.querySelector('#inputFValue').value: " +  document.querySelector('#inputFValue').value )
              
              // update the DIV
              //$('#success_div).html(response); 
              // form.submit()
            },
            error: function(e, x, r) { // on error..
              console.log('ERROR !!')
              // update the DIV
              //$('#error_div).html(e)'); 
            }

        });
        return false;
    });
});
</script>










<!-- <form method="POST" action='.' id="textValueField-form-ajax" name="textValueField-form-ajax">
  {% csrf_token %}
  <input type="hidden" id="dante" name="dante" />
  <input type="hidden" id="inputFValue" name="inputFValue" />
  <input type='text' id='inputF' name='inputF'/>
  <button id="submit">test-ajax</button>
</form>

<script type="text/javascript">
var dante = 'buddy'
var inputF = document.getElementById("inputF");
var inputFValue = 'Hello from javascript';
var form = document.querySelector('#textValueField-form-ajax');

$(document).ready(function() {
    $('#textValueField-form-ajax').submit(function() { // catch the form's submit even
        $.ajax({ // create an AJAX call...
            data: $(this).serialize(), // get the form data
            type: $(this).attr('method'), // GET or POST
            url: $(this).attr('action'), // the file to call
            success: function(response) { // on success..
              console.log('SUCCESS !!')
              console.log('inputF: 0: ' +  inputF)
              console.log('inputFValue: 0: ' +  inputFValue)
              document.getElementById("inputF").value = 'success!'
              inputFValue = document.getElementById("inputF").value
              console.log('inputFValue: 1: ' +  inputFValue)
              document.querySelector('#inputFValue').value = 'hello'
              document.querySelector('#dante').value = dante
              console.log('dante: ' + dante)
              console.log("document.querySelector('#dante').value: " + document.querySelector('#dante').value)
              console.log("document.querySelector('#inputFValue').value: " +  document.querySelector('#inputFValue').value )
              
              // update the DIV
              //$('#success_div).html(response); 
              // form.submit()
            },
            error: function(e, x, r) { // on error..
              console.log('ERROR !!')
              // update the DIV
              //$('#error_div).html(e)'); 
            }

        });
        return false;
    });
});
</script> -->

<hr/>
braintree_payment_method_token: {{ braintree_payment_method_token }}
<hr/>
gordon: {{ gordon }}
<hr/>
testvariable: {{ testvariable }}
<hr/>
nonce: {{ nonce }}
<hr/>
user_first_name: {{ user_first_name }}
<hr/>
user_last_name: {{ user_last_name }}
<hr/>
user_email: {{ user_email }}
<hr/>
billing_profile: {{ billing_profile }}
<hr/>
billing_profile_created: {{ billing_profile_created }}
<hr/>
billing_profile_first_name: {{ billing_profile_first_name }}
<hr/>
billing_profile_last_name: {{ billing_profile_last_name }}
<hr/>
billing_profile_street: {{ billing_profile_street }}
<hr/>
billing_profile_postal_code: {{ billing_profile_postal_code }}
<hr/>
braintree_customer_id: {{ braintree_customer_id }}
<hr/>
braintree_customer_first_name: {{ braintree_customer_first_name }}
<hr/>
braintree_customer_last_name: {{ braintree_customer_last_name }}
<hr/>
braintree_customer_email: {{ braintree_customer_email }}
<hr/>
cart: {{ cart }}
<hr/>
cart_created: {{ cart_created }}
<hr/>
order_profile: {{ order_profile }}
<hr/>
order_profile_created: {{ order_profile_created }}
<hr/>
order_billing_address: {{ order_billing_address }}
<hr/>
client token: {{ client_token }}
<hr/>
======= DEBUG ==========
<hr/>

{% if payment_company != 'stripe' %}

<meta charset="utf-8">

<!-- includes the Braintree JS client SDK -->
<script src="https://js.braintreegateway.com/web/dropin/1.21.0/js/dropin.min.js"></script>

<!-- includes jQuery -->
<script src="http://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>

<form action="." method="POST" id="payment-form" name="payment-form">
  {% csrf_token %}

  {{ paymentform.as_p }}

  <!-- <div id="checkoutMethods"> -->
    <div style="margin: 10px;">
      <div id="dropin-container"></div>
      <input type="hidden" id="remove-subscription-field-id" name="remove-subscription-field-name" />
      <input type="hidden" id="nonce" name="nonce" />
      <input type="hidden" id="testvariable" name="testvariable" />
      <input type="hidden" id="gordon" name="gordon" />
    </div>
  <!-- </div> -->
  <button id="submit-button">Save</button>
</form>
<script>




  var button = document.querySelector('#submit-button');
  var form = document.querySelector('#payment-form');
  var testvariable = 'emptytestvariable';
  var nonce = 'emptynonce';
  var gordon = 'emptygordon';
  var payload_nonce;

  braintree.dropin.create({
    authorization: '{{ client_token }}',
    container: '#dropin-container'
  }, function (createErr, instance) {
    button.addEventListener('click', function () {
      document.querySelector('#testvariable').value = 'hello from javascript'
      console.log("document.querySelector('#testvariable').value: " + document.querySelector('#testvariable').value)
      document.querySelector('#gordon').value = 'hello gordon from javascript'
      console.log("document.querySelector('#gordon').value: " + document.querySelector('#gordon').value)

      function updateGordon(gordon_update_value){ 
          console.log('updateGordon function: ' + gordon_update_value)
          document.querySelector('#gordon').value = gordon_update_value
          console.log("document.querySelector('#gordon').value: " + document.querySelector('#gordon').value)
          document.querySelector('#testvariable').value = 'hello from updategordon'
          document.querySelector('#gordon').value = 'hello gordon freeman'
      }
      instance.requestPaymentMethod(function (requestPaymentMethodErr, payload) {
        // When the user clicks on the 'Submit payment' button this code will send the
        // encrypted payment information in a variable called a payment method nonce

        document.querySelector('#nonce').value = payload.nonce
        console.log('payment method nonce is: ' + payload.nonce)
        $('#nonce').val(payload.nonce);
        $('#gordon').val(payload.nonce);
        gordon = payload.nonce
        
        updateGordon(payload.nonce)
        // console.log('gordon is: ' + gordon)
        // document.querySelector('#gordon').value = payload.nonce
        nonce = payload.nonce
        console.log('nonce A: ' + document.querySelector('#nonce').value)
        
        console.log('HELLO')
        $.ajax({
          type: 'POST',
          url: '/cart/checkout/success/',
          data: {'paymentMethodNonce': payload.nonce}
        }).done(function(result) {
          console.log('nonce B: ' + document.querySelector('#nonce').value)
          // Tear down the Drop-in UI
          instance.teardown(function (teardownErr) {
            console.log('nonce C: ' + document.querySelector('#nonce').value)

            if (teardownErr) {
              console.error('Could not tear down Drop-in UI!');
            } else {
              console.log('nonce D: ' + document.querySelector('#nonce').value)
              console.info('Drop-in UI has been torn down!');
              // Remove the 'Submit payment' button
              $('#submit-button').remove();
            }
          });
          console.log('nonce E: ' + document.querySelector('#nonce').value)
          if (result.success) {
            console.log('nonce F: ' + document.querySelector('#nonce').value)
            $('#nonce').value(nonce)
            $('#checkout-message').html('<h1>Success</h1><p>Your Drop-in UI is working! Check your <a href="https://sandbox.braintreegateway.com/login">sandbox Control Panel</a> for your test transactions.</p><p>Refresh to try another transaction.</p>');
          } else {
            console.log(result);
            $('#checkout-message').html('<h1>Error</h1><p>Check your console.</p>');
          }
          console.log('nonce G: ' + document.querySelector('#nonce').value)
          gordon = document.querySelector('#nonce').value
          console.log('gordon final: ' + gordon)
          payload_nonce = gordon
          console.log('payload_nonce A: ' + payload_nonce)
          document.querySelector('#testvariable').value = payload_nonce

          console.log("document.querySelector('#remove-subscription-field-id').value: " + document.querySelector('#remove-subscription-field-id'))
          console.log("document.querySelector('#remove-subscription-field-name').value: " + document.querySelector('#remove-subscription-field-name'))
          form.submit()
        })

      })
    })
  })
</script>


{% endif %}

{% endblock %}
